<h1>All Events</h1>

<div>
  <h3>Past:</h3>
  <ul>
    <% Event.past.each do |event| %>
      <li>
        <%= link_to event.title, event %>
      </li>
    <% end %>
  </ul>
</div>

<div>
  <h3>Upcoming:</h3>
  <ul>
    <% Event.upcoming.each do |event| %>
      <li>
        <%= link_to event.title, event %>
      </li>
    <% end %>
  </ul>
</div>

<% if user_signed_in? %>
  <br>
    <%= button_to "Create New Event", new_event_path, method: :get %>
<% end %>

<% if user_signed_in?  %>
  <%= link_to "Sign Out", destroy_user_session_path, 'data-turbo-method': :delete %>
<% else %>
  <%= link_to "Sign in", new_user_session_path %>
<% end %>
