<h1><%= @event.title %></h1>
<p><%= @event.body %></p>
<h4>Date: <%= @event.date %></h4>

<% unless @event.attendees.include?(current_user) %>
  <% unless current_user == @event.creator %>
    <%= button_to "Attend Event", attendances_path, params: { event_id: @event.id } %>
  <% end %>
<% end %>
<div>
  <h3>Attendees:</h3>
  <ul>
    <% @event.attendees.each do |attendees| %>
      <li><%= link_to attendees.username, attendees %></li>
    <% end %>
  </ul>
</div>

<% if user_signed_in?  %>
  <%= link_to "Sign Out", destroy_user_session_path, 'data-turbo-method': :delete %>
<% else %>
  <%= link_to "Sign in", new_user_session_path %>
<% end %>
